name: CI
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: fwilhe2/automatic-computing-machine@main
      with:
        milliseconds: 100

    - uses: fwilhe2/bump-version@step-summary
      id: bump

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.bump.outputs.newVersion }}
        release_name: Release ${{ steps.bump.outputs.newVersion }}
        draft: false
        prerelease: false
